<main class="container-sm">
    <section>
        <header>
            <h1>{{ _title }}</h1>
        </header>
    </section>
    <section>
        <h2>{{ _sections.About }}</h2>
        <p>
            {{ _introText }}
        </p>
        <button type="button" class="btn btn-primary">{{_buttons.GoogleForm}}</button>
    </section>
    <section>
        <h2>{{ _sections.Projects }}</h2>
    </section>
    <section>
        <h2>{{ _sections.Questions }}</h2>
    </section>
    <section>
        <h2>{{ _sections.Reviews }}</h2>
    </section>
</main>

<router-outlet></router-outlet>
